<% content_for(:title, "Output") %>
<section class="output">
  <header>
    <h1>AdLit Output</h1>
  </header>
  <div class="boxes">
    <div class="box">
      <p><i class="fa fa-flag-o large"></i></p>
      <h2>Deliverables</h2>
      <ul>
      <% @publications.each do |publication| %>
        <% if publication.category.name == "deliverables" %>
          <li><i class="fa fa-download"></i><%= link_to publication.title, attachment_url(publication, :document) %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-folder-open-o large"></i></p>
      <h2>Wetenschappelijke Output</h2>
      <ul>
        <% @publications.each do |publication| %>
          <% if publication.category.name == "wetenschappelijke output" %>
            <li><i class="fa fa-download"></i><%= link_to publication.title, attachment_url(publication, :document) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-university large"></i></p>
      <h2>Valorisatie Output</h2>
      <ul>
        <% @publications.each do |publication| %>
          <% if publication.category.name == "valorisatie output" %>
            <li><i class="fa fa-download"></i><%= link_to publication.title, attachment_url(publication, :document) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="box">
      <p><i class="fa fa-file-powerpoint-o large"></i></p>
      <h2>Presentaties</h2>
      <ul>
      <% @publications.each do |publication| %>
        <% if publication.category.name == "presentaties" %>
          <li><i class="fa fa-download"></i><%= link_to publication.title, attachment_url(publication, :document) %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</section>


