<section class="output">
<h1>Output: <%= @category.name %></h1>
<% @publications.each do |publication| %>
  <p><i class="fa fa-download"></i><%= link_to publication.title, attachment_url(publication, :document) %></p>
<% end %>
</section>
