<% content_for(:title, "Contact") %>
<% content_for(:lang, "nl") %>
<section class="contact">
  <article>
  <header>
    <h1>Contact</h1>
  </header>
  <div class="box">
    <h3>Universiteit Gent</h3>
    <i class="fa fa-map-marker"></i>Vakgroep Communicatiewetenschappen<br />
    Korte Meer 7-11 <br />
    9000 Gent
    </p>
  </div>
  <div class="box">
    <h3>Project promotoren:</h3>
    <p>
    Verolien Cauberghe<br />
    <i class="fa fa-envelope"></i><a href="mailto:veroline.cauberghe@ugent.be">Veroline.Cauberghe@UGent.be</a></p>
    <p>
    Liselot Hudders<br />
    <i class="fa fa-envelope"></i><a href="mailto:liselot.hudders@ugent.be">Liselot.Hudders@UGent.be</a>
    </p>
  </div>
  <div class="box">
    <p>
    <strong>Projectcoördinator:</strong> <br />
    Katarina Panic<br />
    <i class="fa fa-envelope"></i><a href="mailto:katarina.panic@ugent.be">Katarina.Panic@UGent.be</a>
    </p>
  </div>
  </article>
</section>
