<% content_for(:title, "Doelstellingen") %>
<% content_for(:lang, "nl") %>
<section class="doelstellingen">
  <div class="intro">
    <header>
      <h1>AdLit Doelstellingen</h1>
    </header>
    <p>
      <%= image_tag "logo-adlit.jpg" %>
      Het doel van het AdLit project is na te gaan hoe we de reclamewijsheid van minderjarigen kunnen verhogen. Dit gebeurt onder andere door het ontwikkelen van educatieve pakketten, het opzetten van sensibiliseringscampagnes en het ontwikkelen en implementeren van reclamecues waardoor kinderen en jongeren reclame sneller gaan herkennen. Tot slot formuleert AdLit ook aanbevelingen voor beleid en zelfregulering.
    </p>
  </div>
  <div class="content">
    <div class="left-col">
    <p>Het AdLit-project bevat drie algemene doelstellingen, namelijk:</p>
    <ol>
      <li>Een overzicht geven van het huidige niveau van reclamewijsheid van kinderen en jongeren voor verschillende nieuwe reclamevormen</li>
      <li>In kaart brengen hoe de reclamewijsheid van kinderen en jongeren verhoogd kan worden met betrekking tot nieuwe reclamevormen</li>
      <li>In kaart brengen welk (zelf)regulerend wettelijk kader geschikt is om minderjarigen te beschermen en te machtigen met betrekking tot nieuwe reclamevormen, met het oog op de toekomst</li>
    </ol>
    <p>
    Deze doelstellingen worden onderzocht door middel van vijf wetenschappelijke werkpakketten (of WPs). Hierbij wordt telkens de vergelijking gemaakt tussen kinderen en jongeren van verschillende leeftijden en met verschillende sociale achtergronden (i.e. socio-economische thuissituatie etc.)
    </p>
    <p>
    WP1 is gericht op het ontwikkelen van een risicoanalyse met betrekking tot de reclamewijsheid van minderjarigen voor verschillende nieuwe reclamevormen. Hierbij gaan we na welke de voornaamste reclamevormen zijn die men gebruikt om kinderen en jongeren te benaderen, wat het huidige niveau is van reclamewijsheid voor deze nieuwe formats en hoe we deze reclamewijsheid best kunnen meten.
    </p>
    <p>
    WP2 is gericht op het activeren van reclamewijsheid. Hierbij gaan we na hoe reclame cues optimaal gebruikt kunnen worden om de kennis die kinderen en jongeren hebben met betrekking tot reclame te triggeren op een moment van blootstelling.
    </p>
    <p>
    WP3 is gericht op educatie. Hierbij wordt er een analyse gemaakt van het huidige curriculum en van de verschillende educatieve pakketten die bestaan rond het thema reclamewijsheid. Na het opstellen en evalueren van verschillende educatieve programma’s gaan we over tot het implementeren van de ontwikkelde pakketten met als doel de reclamewijsheid van minderjarigen te verhogen.
    </p>
    <p>
    WP4 is gericht op het ontwikkelen van bewustzijns- en sensibiliseringscampagnes. Hierbij worden verschillende communicatietechnieken ontwikkeld en getest met als doel het niveau van reclamewijsheid te verhogen bij zowel kinderen, jongeren, ouders, leerkrachten en de reclame-industrie zelf.
    </p>
    <p>
    WP5 is gericht op regelgeving en beleid. In de eerste plaats wordt een analyse gemaakt van het huidige (zelf) regulerende kader met betrekking tot commerciële communicatie gericht naar minderjarigen. Hierbij kijken we niet enkel naar verschillende domeinen van het recht, maar ook naar verschillende sectoren en geografische gebieden. Vervolgens worden de hiaten met betrekking tot nieuwe reclamevormen in kaart gebracht, gevolgd door het formuleren van aanbevelingen voor een toekomstbestendig regelgevend kader. Het doel hiervan is minderjarigen te beschermen in hun gebruik van nieuwe media.
    </p>
    </div>
    <div class="right-col">
    <p>
    Gebaseerd op de resultaten die gegenereerd worden door wetenschappelijk onderzoek worden er binnen AdLit specifieke valorisatiedoelstellingen nagestreefd:
    </p>
    <ul>
      <li>Het uitvoeren van een risicoanalyse, gebaseerd op het huidige niveau van reclamewijsheid van kinderen en jongeren voor verschillende nieuwe reclamevormen. Deze inzichten worden gebundeld in een brochure waarin enerzijds de reclamevormen met de laagste reclamewijsheid in kaart worden gebracht, anderzijds levert deze analyse nuttige input voor verdere valorisatieobjectieven binnen dit project.</li>
      <li>Bundelen van alle kwalitatieve en kwantitatieve methoden voor het meten van reclamewijsheid bij kinderen en jongeren in een gids. Het doel hiervan is een overzicht te bieden van geschikte meetinstrumenten en -methoden voor reclamewijsheid per leeftijd en reclameformat.</li>
      <li>Ontwikkelen van een specifieke reclame cue die kinderen en jongeren helpt om reclameboodschappen te herkennen en ze aanzetten om deze kritisch te verwerken. Deze cue zal toepasbaar zijn op verschillende reclamevormen (merkplaatsingen in televisieprogramma’s en computerspelletjes, banners, etc.). om de implementatie van deze cue te stimuleren wordt er tevens een technische brochure opgesteld waarin meer uitleg gegeven wordt over hoe deze cue geïmplementeerd kan worden, en waarom het belangrijk is om dit te doen.</li>
      <li>Opzetten van educatieve pakketten, workshops en sensibiliseringscampagnes gericht naar kinderen, jongeren, hun ouders en opvoeders. Via al deze kanalen willen we enerzijds het algemene bewustzijn van mensen voor reclamewijsheid verhogen, en anderzijds de betekenis en het belang van de advertising cue overbrengen en verspreiden.</li>
      <li>Opstellen van een juridisch vademecum waarin een overzicht gegeven wordt van de huidige wetgeving en zelfregulering met betrekking tot commerciële communicatie gericht naar minderjarigen. Op basis van dit vademecum worden vervolgens hiaten en uitdagingen binnen de wetgeving met betrekking tot nieuwe reclamevormen geformuleerd, samen met concrete aanbevelingen voor een toekomstbestendig regelgevend kader.</li>
    </ul>
    <p>
    Binnen AdLit streven we er naar dat deze valorisatietools niet enkel relevant zijn voor kinderen en jongeren, maar ook voor hun ouders, leerkrachten, opvoeders, de media- en reclame industrie en voor beleidsmakers.</p>
    </div>
  </div>
</section>

