<% content_for(:title, "Stakeholders") %>
<% content_for(:lang, "nl") %>
<section class="stakeholders">
  <header>
    <h1>Adlit</h1>
  </header>
  <div class="boxes">
    <div class="box">
      <p><i class="fa fa-suitcase large"></i></p>
      <h2>What is AdLit?</h2>
      <p>AdLit  is a four-year interdisciplinary research project, financed by the IWT (Belgian agency for innovation by science and technology). AdLit is short for advertising literacy, which refers to the personal knowledge people have about advertising, its  persuasive intent, and the advertising techniques that are used to target them.</p>
    </div>
    <div class="box">
      <p><i class="fa fa-graduation-cap large"></i></p>
      <h2>What does AdLit do?</h2>
      <p>The main goal of the AdLit project is to investigate how we can empower children and youth to cope with advertising, so that they can grow up to be critical, informed consumers who make their own conscious choices in today’s new media environment.</p>
    </div>
    <div class="box">
      <p><i class="fa fa-users large"></i></p>
      <h2>Who is part of the AdLit team?</h2>
      <p>The AdLit project is a collaboration between four Belgian universities (Ghent University, KU Leuven, University of Antwerp, the Vrije Universiteit Brussel). Our team consists of researchers attached to these universities and various stakeholders across different domains.</p>
    </div>
    <div class="box">
      <p><i class="fa fa-newspaper-o large"></i></p>
      <h2>Reports and publications</h2>
      </p>Throughout the project, several deliverables are provided related to the project objectives. These entail research reports, scientific articles, presentations and other documents around various advertising literacy related topics.</p>
    </div>
  </div>
</section>


