<section class="contact">
  <header>
    <h1>Inschrijven voor Adlits nieuwsbrief</h1>
  </header>
  <% if cookies[:saved_subscription] %>
    Bedankt om je in te schrijven.
  <% else %>
    <%= form_for Subscription.new do |f| %>
      <p>Schrijf je in voor onze nieuwsbrief en blijf op de hoogte van nieuw materiaal, informatie, update en nieuwtjes rond AdLit.</p>
      <p>We sturen niet meer dan drie nieuwsbrieven per jaar.</p>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.submit "Inschrijven" %>
    <% end %>
  <% end %>
  <p><small>Wanneer je onze nieuwsbrieven niet meer wenst te ontvangen, kan je een mailtje sturen naar <a href="mailto:info@adlit.be" class="underline">info@adlit.be</a> met onderwerp “uitschrijven”.</small></p>
</section>
