a:hover { color: $action-color; }
.box { margin-bottom: em(54); }
aside { 
  @include media($large-screen) {
    float: right;
  }
}

section.contact {
  @include outer-container;
    article {
      @include media($large-screen) {
        @include span-columns(7);
        @include shift(1);
      }
  }

  header {
    margin-bottom: em(54);
  }

  form#new_subscription {
    text-align: center;
    input[type="email"] {
      width: 400px;
      display: inline;
      margin-right: em(25);
    }
  }
}
