.home {
  
  display: block;
  background: asset-data-url("background.jpg") no-repeat center center;
  opacity: 0.9;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1
}


div.hero {
  position: absolute;
  top: 16%;
  margin-left: em(16);
  margin-right: em(16);
  @include media($large-screen) {
    @include outer-container;
    @include span-columns(8);
    @include shift(2);
    position: absolute;
    top: 24%;
    padding: 1.5em 2.4em;
  }

  @include media($landscape-screen) {
    padding: 1.5em;
  }

  @include media($portrait-screen) {
    @include outer-container;
    @include span-columns(6);
    @include shift(1);
    position: absolute;
    top: 24%;
    padding: 1.5em 2.4em;
  }
  background: rgba(84,86,102,0.5);
  border-radius: 5px;

  h1 {
    font-size: $base-font-size * 1.3;
    @include media($large-screen) {
      font-size: $base-font-size * 3;
    }

    @include media($landscape-screen) {
      font-size: $base-font-size * 1.6;
    }
    color: white;
  }
}

div.cta {
  position: absolute;
  top: 85%;
  left: 25%;
  @include media($large-screen) {
    @include outer-container;
    @include span-columns(8);
    @include shift(5);
    top: 85%;
    left: 0;
  }

  @include media($portrait-screen) {
    @include outer-container;
    @include span-columns(8);
    @include shift(3);
    top: 85%;
    left: 0;
  }

  p {
    font-size: $base-font-size * 1.6;
    font-weight: 600;
  }
}

.news-summary {
    padding-top: em(24);
    padding-left: em(16);
    padding-right: em(16);

    @include media($large-screen) {
      @include outer-container;
    }


  .more-news {
    @include media($large-screen) {
    text-align: right;
    margin-right: em(16);
    }
    margin-left: em(16);
    margin-top: em(24);
  }
}

.info {
  @include media($large-screen) {
    @include outer-container;
    margin: 0 auto;
  }

  @include media($landscape-screen) {
    @include outer-container;
    @include span-columns(6);
  }

  .boxes {
    margin-top: em(36);
    margin-left: em(24);
    margin-right: em(16);
    margin-bottom: em(54);
    @include media($large-screen) {
    }
  }

  .box {
    margin-bottom: em(24);
    @include media($large-screen) {
      @include span-columns(3 of 6);
      @include omega(2n);
      margin-bottom: em(36);
    }
  }

  h2 {
    text-align: center;
    margin-bottom: em(24);
    font-size: $base-font-size * 1.3;
    @include media($large-screen) {
      font-size: $base-font-size * 1.6;
    }
  }


  p {
    @include media($large-screen) {
      text-align: center;
    }
    &.icon {
      text-align: center;
    }
  }
}

