  @mixin grid-item-columns($columns) {
    width: (100% / 12) * $columns;
  }

  .grid-items {
    $grid-items-background: $base-background-color;
    $grid-item-background: desaturate($base-accent-color, 30); 
    $grid-item-colors: 
      desaturate($base-accent-color, 30), 
      #3581A5, 
      #5FBEBE,
      #98C79A,
      #b9cf45, 
      #BDCC97,
      #979EA0;
    $grid-item-border-size: 9px;
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: white;
    $grid-item-height: 7em;

    @include clearfix;
      
    .grid-item {
      @include transition (all 0.2s ease-in-out);
      height: $grid-item-height;
      @include media($large-screen) {
        height: 14em;
      }
      background: $grid-item-background;
      width: 100%;
      overflow: hidden;
      float: left;
      padding: 1em;
      @include media($large-screen) {
        padding: 2em;
      }
      border-top: 0;
      border-bottom: $grid-item-border-size solid $grid-items-background;
      border-left: $grid-item-border-size /2 solid $grid-items-background;
      border-right: $grid-item-border-size /2 solid $grid-items-background;
      text-align: center;
      cursor: pointer;

      @include media($large-screen) {
        @include grid-item-columns($grid-item-columns);
      }

      @for $i from 1 through length($grid-item-colors) { 
        &:nth-child(#{$i}) {
          $background-from-list: nth($grid-item-colors, $i);
          background-color: $background-from-list;
          box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);
          &:hover {
            background-color: darken($background-from-list, 10);
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
          }
        }
      }
    }

    .grid-item img {
        display: block;
        height: 80%;
        margin: auto;
        margin-bottom: 10.667px; 
        @include media($large-screen) {
          margin-bottom: 1em;
        }
      }

    .grid-item h1 {
        color: $grid-item-color;
        font-size: .8em;
        @include media($large-screen) {
          margin-bottom: .4em;
          font-size: 1em;
        }
      }
  }


