section.output {
  @include media($large-screen) {
    @include outer-container;
  }

  .boxes {
    padding-top: em(54);
    @include media($large-screen) {
      @include span-columns(12);
    }
  }

  .box {
    @include media($large-screen) {
      @include span-columns(3 of 12);
      @include shift(1);
    }
    margin-bottom: em(81);
    margin-right: em(36);

    a {
      &:hover {
        border-bottom: 2px solid $action-color;
      }
    }
  }

  h2 {
    text-align: center;
    margin-bottom: em(24);
    font-size: $base-font-size * 1.3;
  }

  p {
    text-align: center;
  }
}


