section.output {
  @include media($large-screen) {
    @include outer-container;
  }

  .boxes {
    padding-top: em(54);
    @include media($large-screen) {
      @include span-columns(12);
    }
  }

  .box {
    margin-bottom: em(81);
    margin-right: em(36);
    @include media($large-screen) {
      @include span-columns(8);
    }

    a {
      &:hover {
        border-bottom: 2px solid $action-color;
      }
    }
  }

  h1 {
    margin-bottom: em(36);
  }

  h2 {
    font-size: $base-font-size * 1.3;
  }

  .underline {
    padding-top: em(24);
    float: right;
    font-weight: 600;
  }

  .green {
    color: darken($action-color, 5);
    font-weight: 700;
    font-size: $base-font-size * .7;
    text-transform: uppercase;
  }
}


