section.stakeholders {
  @include media($large-screen) {
  @include span-columns(8);
  @include shift(2);
  }


  .boxes {
    padding-top: em(36);
  }

  .box {
    @include media($large-screen) {
      @include span-columns(3 of 6);
      @include omega(2n);
      margin-right: em(36);
    }

    @include media($landscape-screen) {
      @include span-columns(3 of 6);
      @include omega(2n);
      margin-right: em(24); 

    }
    margin-bottom: em(81);

    a {
      &:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid $light-green;
      }
    }
  }

  h2 {
    text-align: center;
    margin-bottom: em(24);
    font-size: $base-font-size * 1.3;
    @include media($large-screen) {
      font-size: $base-font-size * 1.6;
    }

    @include media($landscape-screen) {
      font-size: $base-font-size * 1.3;
    }
  }

  
  p {
    text-align: center;
  }

  ul {
    @extend %default-ul;
  }
}


