section.team {
  @include outer-container;
  .member {
    text-align: center;
    margin-bottom: em(24);
    @include media($large-screen) {
      @include span-columns(3 of 12);
      @include omega(4n);
      margin-bottom: em(54);
    }

    @include media($portrait-screen) {
      @include span-columns (4 of 8);
      @include omega(2n);
    }


    h2 {
      margin-top: em(24);
      font-size: $base-font-size * 1;
      text-align: center;
    }

    a {
      &:hover {
        color: $action-color;
      }
    }

    p {
      text-align: center;
      font-size: $base-font-size * .9;
    }

    img {
      margin-top: em(24);
      @include media($large-screen) {
        margin-top: 0;
      }
      border: 2px solid white;
      border-radius: 3px;
      &:hover {
        transition-property: border;
        transition-duration: 1s;
        transition-timing-function: ease;
        border: 2px solid $light-green;
      }
    }
  }
}
