<footer>
  <a href="https://www.facebook.com/pages/AdLit/575850655877123"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/AdLitSBO"><i class="fa fa-twitter"></i></a>
  <a href="mailto:katarina.panic@ugent.be"><i class="fa fa-envelope"></i></a>
</footer>


