<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/index.html#home">HOME</a></li>
        <li class="nav-link"><%= link_to "NIEWS", news_path %></li>
        <li class="nav-link"><a href=#">TEAM</a></li>
        <li class="nav-link"><a href="/project.html">PROJECT</a></li>
        <li class="nav-link"><a href="#">OUTPUT</a></li>
        <li class="nav-link lang"><i class="fa fa-flag"></i><a href="#">EN</a></li>
        <% if current_user %>
        <li class="nav-link"><%= link_to "admin", admin_path %></li>
        <li class="nav-link"><%= link_to "Sign Out", session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

